>## Task 14

### Exercise 1: CSV Files
#### *Read a CSV file and print the contents of the file*

In [3]:
import pandas as pd
import numpy as np

# Read the data
data = pd.read_csv('sampleCSV.csv', encoding='iso-8859-1')
data.head()

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37

### Exercise 2: JSON Files
#### *Read a JSON file and print the contents of the file*

In [4]:
data=pd.read_json('sampleJSON.json')
data.head()

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

### Exercise 3: Excel Files
#### *Read an Excel file and print the contents of the file*

In [6]:
data=pd.read_excel('sampleXLS.xls')
data.head()

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37

### Exercise 4: SQL Files
#### *Read a SQL file and print the contents of the file*

In [19]:
import sqlalchemy as sqla
import sqlite3

query="""
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
    c REAL,        d INTEGER
    );
"""

con.execute(query)

In [17]:
con.commit()
data=[('Atlanta', 'Georgia', 1.25, 6),
      ('Tallahassee', 'Florida', 2.6, 3),
      ('Sacramento', 'California', 1.7, 5)]
stmt="INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)

In [20]:
con.commit()
cursor=con.execute('select * from test')
rows=cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [21]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5