>## Task 13

### Exercise 1: Series object

#### Exercise 1a: Series object with a list of integers
##### *Create a pandas Series object containing a list of integers.*

In [2]:
import pandas as pd 
import numpy as np
import random

obj=pd.Series([random.randint(1,10) for i in range(10)])
obj

0    7
1    6
2    6
3    8
4    7
5    2
6    3
7    6
8    1
9    4
dtype: int64

#### Exercise 1b: Series object with a list of strings
##### *Create a pandas Series object containing a list of strings.*

In [3]:
obj=pd.Series(['a','b','c','d','e','f','g','h','i','j'])
obj

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

### Exercise 2: DataFrame object

#### Exercise 2a: DataFrame object containing a dictionary of lists
##### *Create a pandas DataFrame object containing a dictionary of lists.*

In [4]:
df=pd.DataFrame({'list1':[random.randint(1,10) for i in range(10)],'list2':[random.randint(1,10) for i in range(10)]})
df

   list1  list2
0      9      8
1      1      7
2      4      1
3     10      6
4      2      2
5      7      4
6      1      5
7      3      7
8      3      5
9      7     10

#### Exercise 2b: DataFrame object containing a numpy array
##### *Create a pandas DataFrame object containing a numpy array.*

In [5]:
df=pd.DataFrame(np.arange(10))
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9