>## Task 15

### Exercise 1: Handling missing data

#### Exercise 1a: Viewing Missing Data

In [2]:
import pandas as pd
import numpy as np

data=pd.Series(['apple', 'avacado', np.nan, 'banana'])
print(data)

data.isnull()

0      apple
1    avacado
2        NaN
3     banana
dtype: object

0    False
1    False
2     True
3    False
dtype: bool

#### Exercise 1b: Dropping Missing Data

In [6]:
from numpy import nan as NA
data=pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
print(data)
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0

#### Exercise 1c: Filling Missing Data

In [8]:
data.fillna(0)

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

In [9]:
data.fillna(data.mean())

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0